#floders
.idea/
logs/
log/
log
server/config/local.dev.config.json
server/config/local.prod.config.json

#files
*.iml
.DS_Store
node_modules
./dist/
*.log
npm-debug.log*

.editorconfig

.tmp
.vscode
_reports/
.vs/