.s-content--welcome {
    display: table !important;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: 45% 0;

    .s-content--welcome__word{
        width: 60%;
        height: 200px;
        margin: 20% auto;
        margin-top: 200px;
        font-size: 46px;
        color: #1D82DD;
        letter-spacing: 0;
        line-height: 46px;
        text-align: center;
    }
}
