.s-dashboard {
    // display: table !important;
    // // height: 100%;
    // // left: 0;
    // // position: absolute;
    // // right: 0;
    // width: 100%;
    // background-image: url('background.png');
    // background-repeat: no-repeat;
    // background-size: 80% 100%;
    // background-position: 45% 0;

    padding: 20px;
    .ant-row + .ant-row {
        margin-top: 16px;
    }

    &__item {
        background-color: white;
        padding: 20px 0 0 0;
        height: 420px;
    }

    &__title {
        font-size: 15px;
        font-weight: bolder;
        padding-left: 20px;

        > * + * {
            margin-left: 10px;
        }
    }

}
