
.s-errorlog__cell {
    display: inline-block;
    white-space: normal !important;
    
    &--breakall {
        word-break:break-all !important;
    }

    textarea {
        border: none;
        resize: none;
        line-height: 20px;
        // background: black;
        // color: white;
        height: 270px;
        width: 630px;
        outline: none;
    }
}

