@import "src/js/style/themes/default.scss";

.s-content {
    // height: 100%;
    margin-left: 0;
    position: relative;
    $pad-left: 20px;
    // transition: all .3s;
    &-root {
        // background-color: $content-theme-color;
        // display: flex;
        // flex-direction: column;
        // height: 100%;
        >.c-spin-nested-loading {
            // position: initial;
            flex: 1;
            height: 100%;
            >.c-spin-container {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
        }
    }
    &--collapsed {
        margin-left: $sidebar-collapsed-width;
    }
    &__spin {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba(204, 204, 204, 0.3);
    }
}