@import "src/js/style/themes/default.scss";


.s-content__body {
    // display: flex;
    // flex: 1;
    // flex-direction: column;
    // padding-bottom: 15px;
    padding-left: $content-padding-left;
    padding-right: $content-padding-left;
    position: relative;

    // 如果只有body区域，则设置20px的上边距
    margin-top: 20px;
    @at-root .s-content__nav + & {
        margin-top: 0;
    }

    &__nav {
        line-height: 3em;
        position: relative;
    }

    &__table {
        font-size: 12px;
        position: relative;
    }

    &--loading {
        right: 10px;
        z-index: 2;
    }

    .content-filter-input {
        position: absolute;
        right: 10px;
        top: 1em;
    }
}
