@-ms-keyframes hideremind {
    0% {
        opacity: 1;
        width: 420px;
    }
    100% {
        opacity: 0.5;
        width: 0px;
    }
}

@-webkit-keyframes hideremind {
    0% {
        opacity: 1;
        width: 420px;
    }
    100% {
        opacity: 0.5;
        width: 0px;
    }
}

@-o-keyframes hideremind {
    0% {
        opacity: 1;
        width: 420px;
    }
    100% {
        opacity: 0.5;
        width: 0px;
    }
}

@-moz-keyframes hideremind {
    0% {
        opacity: 1;
        width: 420px;
    }
    100% {
        opacity: 0.5;
        width: 0px;
    }
}

@-ms-keyframes showremind {
    0% {
        opacity: 0.5;
        width: 0px;
    }
    100% {
        opacity: 1;
        width: 420px;
    }
}

@-webkit-keyframes showremind {
    0% {
        opacity: 0.5;
        width: 0px;
    }
    100% {
        opacity: 1;
        width: 420px;
    }
}

@-o-keyframes showremind {
    0% {
        opacity: 0.5;
        width: 0px;
    }
    100% {
        opacity: 1;
        width: 420px;
    }
}

@-moz-keyframes showremind {
    0% {
        opacity: 0.5;
        width: 0px;
    }
    100% {
        opacity: 1;
        width: 420px;
    }
}

@-ms-keyframes hideremind-body {
    0% {
        right: 0px;
    }
    100% {
        right: -420px;
    }
}

@-webkit-keyframes hideremind-body {
    0% {
        right: 0px;
    }
    100% {
        right: -420px;
    }
}

@-o-keyframes hideremind-body {
    0% {
        right: 0px;
    }
    100% {
        right: -420px;
    }
}

@-moz-keyframes hideremind-body {
    0% {
        right: 0px;
    }
    100% {
        right: -420px;
    }
}

@-ms-keyframes showremind-body {
    0% {
        right: -420px;
    }
    100% {
        right: 0px;
    }
}

@-webkit-keyframes showremind-body {
    0% {
        right: -420px;
    }
    100% {
        right: 0px;
    }
}

@-o-keyframes showremind-body {
    0% {
        right: -420px;
    }
    100% {
        right: 0px;
    }
}

@-moz-keyframes showremind-body {
    0% {
        right: -420px;
    }
    100% {
        right: 0px;
    }
}

.s-remind__root {
    position: fixed;
    height: 100%;
    z-index: 9999;
    right: 0px;
    top: 60px;
    &__nav {
        background-color: #212636;
        position: absolute;
        right: 0px;
        height: 35px;
        border-radius: 20px 0px 0px 0px;
        opacity: 0.5;
        cursor: pointer;
        -webkit-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        e {
            position: absolute;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            top: 50%;
            width: 25px;
            height: 25px;
            display: inline-block;
            vertical-align: middle;
            background: url('remind.svg') no-repeat center center / 100%;
        }
        span {
            position: absolute;
            height: 35px;
            line-height: 35px;
        }
        &__num {
            left: 45px;
            color: red;
        }
        &__title {
            left: 80px;
            color: #09e634;
            overflow: hidden;
        }
        &--hide {
            animation: hideremind 0.5s linear; // width: 60px;
            opacity: 0.5;
        }
        &--show {
            animation: showremind 0.5s linear;
            width: 420px;
            opacity: 1;
        }
    }
    &__body {
        right: -420px;
        margin-top: 35px;
        top: 0px;
        bottom: 0px;
        padding: 10px;
        position: absolute;
        width: 420px;
        background: #2f374c;
        opacity: 0.8;
        color: #fff;
        overflow-y: scroll;
        &--hide {
            animation: hideremind-body 0.5s linear;
            right: -420px;
        }
        &--show {
            animation: showremind-body 0.5s linear;
            right: 0px;
        }
    }
}

.s-remind-message__item {
    background: #000;
    color: #b6bbba;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    &__title {
        display: flex;
        cursor: pointer;
        user-select: none;
        &--left,
        &--right {
            display: inline-block;
            justify-content: space-around;
            height: 25px;
            line-height: 25px;
        }
        &--left {
            flex: 2;
        }
        &--right {
            text-align: right;
        }
        &-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            cursor: pointer;
            &--down {
                background: url(./icon-forward-down.svg) no-repeat center center/100%;
            }
            &--up {
                background: url(./icon-forward-up.svg) no-repeat center center/100%;
            }
            &--badge::after {
                position: absolute;
                content: '';
                display: inline-block;
                background: red;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                right: 15px;
            }
        }
    }
    &__content {
        border-top: solid 1px #ff8000;
        padding-top: 5px;
        &--hide {
            display: none;
        }
    }
    &--gray {
        color: #666;
    }
}