.s-content__error-boundary {
    padding: 20px;
    &__title {
        text-align: center;
        height: 50px;
        padding: 20px;
        font-size: 34px;
    }
    &__mid {
        padding: 20px;
    }
    &__title,
    &__mid {
        text-align: center;
    }
    & details {
        background: #ccc;
        white-space: pre-wrap;
        padding: 20px;
        margin-top: 20px;
    }
}