
.u-clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}


.u-hide,
.u-hidden {
    display: none !important;
}

.u-show {
    display: block !important;
}


.u-loading {
    background: url(loading-blue.gif) no-repeat center center rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
    background-size: 50px;
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.u-flex,
.u-display-flex {
    display: table;
    display: flex;
    display: -ms-flexbox;
}

.u-flex-column {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
}

.u-flex-1 {
    flex: 1;
}

.u-height-100per {
    height: 100%;
}

/** 上下左右居中 **/
.u-fixed--center {
    display: table !important;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    // background-image: linear-gradient(0deg, #FEFEFE 0%, #E7F4FD 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left;
}

.u-fixed--center__child {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    > * {
        margin: 0 auto;
        text-align: initial;
    }
}

.u-overflow-y--scroll {
    overflow-y: scroll;
}

/** margin相关的工具  */
.u-mgl-5 {
    margin-left: 5px !important;
}

.u-mgl-10 {
    margin-left: 10px !important;
}

.u-mgt-10 {
    margin-top: 10px !important;
}

.u-mgr-10 {
    margin-right: 10px !important;
}

.u-padding-lr-10 {
    padding: 0px 10px;
}

/** display */
.u-dis-flex {
    display: flex;
    display: -ms-flexbox;
}

.u-dis-ib {
    display: inline-block !important;
}

/** text **/
.u-text-center {
    text-align: center !important;
}

.u-text-left {
    text-align: left !important;
}

.u-text-right {
    text-align: right !important;
}


/** color **/
.u-textcolor--red {
    color: red;
}


/*** 宽度 ***/
.u-width-6 {
    width: 50% !important;
}

.u-width-3 {
    width: 25% !important;
}

.u-width-1 {
    width: 8.33% !important;
}


/* 其他 */
.u-child-inline {
    > * {
        display: inline-block;
    }
}

.u-block {
    display: block;
}
.u-child-block {
    >  * {
        display: block !important;
    }
}

/* link样式 */
.u-link-style {
    color: #47477f;
    cursor: pointer;
    text-decoration: underline;
}

/* cursor pointer  */
.u-cursor-pointer {
    cursor: pointer;
}


.u-align-text-bottom {
    vertical-align: text-bottom;
}