
@import './tint';
@import './colorPalette';

$blue-base: #108ee9;
$blue-1: colorPalette($blue-base, 1);
$blue-6: $blue-base;

$purple-6: #7265e6;

$cyan-6: #00a2ae;

$green-6: #00a854;

$pink-6: #f5317f;

$red-6: #f04134;

$orange-6: #f56a00;

$yellow-6: #ffbf00;
