
.s-404 {
    border-radius: 10px;
    line-height: 2;
    padding: 20px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    color: #ff7600;

    span {
        margin-left: 10px;
    }
}
